aiohttp
aiosignal
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
async-timeout
attrs
Babel
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
colorama
comm
dataclasses-json
debugpy
decorator
defusedxml
docker
exceptiongroup
executing
fastjsonschema
fqdn
frozenlist
greenlet
h11
httpcore

idna
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
MarkupSafe
marshmallow
matplotlib-inline
mistune
multidict
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
ollama
orjson
overrides
packaging
pandocfilters
parso
platformdirs
prometheus_client
prompt-toolkit
psutil
pure-eval
pycparser
pydantic
pydantic_core
Pygments
python-dateutil
python-json-logger
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
Send2Trash
six
sniffio
soupsieve
SQLAlchemy
stack-data
tenacity
terminado
tinycss2
tomli
tornado
traitlets
types-python-dateutil
typing-inspect
typing_extensions
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
yarl

redis
comtypes
pycaw
rich
pefile
librosa
sounddevice
numpy

path
numba
feedparser
mcp
scikit-learn
pandas
pydantic-ai